.container {
	max-width: 1400px;
	margin: 0 auto;
}
body {
	background-color: rgb(35, 2, 35);
	font-family: "Poppins", serif;
	font-size: 16px;
	margin: 0;
	overflow-x: hidden;
}
header {
	background-image: linear-gradient(
			rgba(100, 136, 177, 0.432),
			rgba(49, 57, 83, 0.385)
		),
		url("../images/aerial-drone-photograph-of-cityscape-of-nicosia-to-2023-11-27-05-16-48-utc\ \(1\).jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header h1 {
	font-weight: 700;
	line-height: 1;
	font-size: 6em;
	margin: 0 0;
}
header h2 {
	font-weight: 400;
	font-size: 2.5em;

	margin-bottom: 1em;
}
header p {
	font-weight: 900;
	font-size: 1.5em;
	line-height: 1;
	letter-spacing: 5px;
	text-transform: uppercase;
}
header a {
	background-color: white;
	color: #201f1f;
	text-transform: uppercase;
	padding: 1em 2em;
	text-decoration: none;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.7;
	letter-spacing: 3px;
}
section {
	max-width: 100%;
	margin: 0 auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 100px;
	padding-bottom: 100px;
}
main {
	background-color: white;
}
.text-center {
	text-align: center;
}
.grid-two-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
}
.grid-3-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
}
.media-wrapper {
	height: 100%;
	max-width: 100%;
}
.img-responsive {
	object-fit: cover;
	max-width: 100%;
	height: 100%;
}
.img-small-responsive {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	min-height: 200px;
}
main h2 {
	font-size: 2.5em;
	color: #272044;
	font-weight: 700;
	line-height: 1.2;
	margin: 0.5em auto;
}
main h3 {
	text-transform: uppercase;
	color: lightslategray;
	font-weight: 700;
	font-size: 1em;
	margin: 0;
	letter-spacing: 5px;
}
main h4 {
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1;
	color: #272044;
	margin: 0;
}
main h5 {
	font-weight: 700;
	font-size: 0.8em;
	line-height: 1;
	color: #272044;
	margin: 0;
}
main p {
	font-weight: 400;
	font-size: 1em;
	color: grey;
}
section.section-cafes {
	background-color: rgba(208, 204, 204, 0.24);
}
.card {
	background-color: white;
	display: flex;
	flex-direction: column;
}
.card-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.card-body {
	padding: 2em;
}
.card-footer {
	padding: 5%;
	margin-top: auto;
	align-items: flex-end;
}
.btn {
	display: block;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 3px;
	line-height: 2;
	text-decoration: none;
	text-align: center;
	padding: 16px;
	text-transform: uppercase;
	color: white;
	background-color: #462cb3;
}
footer {
	color: white;
	background-image: linear-gradient(
			rgba(39, 32, 68, 0.9),
			rgba(39, 32, 68, 0.9)
		),
		url("../images/cyprus-island-top-view-houses-roofs-2023-11-27-05-15-01-utc\ \(1\).jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.grid-three-columns-first-narrow {
	display: grid;
	grid-template-columns: 1.5fr 2fr 2fr;
	grid-gap: 3em;
}

footer h4 {
	font-weight: 700;
	font-size: 1.3em;
	line-height: 1.5;
}
footer p {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
}
footer ul {
	padding: 0;
}
footer li {
	color: white;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 2em;
}
footer a {
	color: white;
	text-decoration: none;
	font-weight: 400;
}
.subfooter {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	color: white;
}
.subfooter a {
	color: white;
}
@media (max-width: 960px) {
	body {
		width: 100%;
		overflow-x: hidden;
	}
	header h1 {
		font-size: 4em;
	}
	header h2 {
		font-size: 1.8em;
	}
	header p {
		font-size: 1em;
	}
	header a {
		padding: 1em 1em;
		font-size: 0.7em;
	}
	main h3 {
		margin-top: 1em;
	}
	.grid-two-columns {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
	.grid-three-columns-first-narrow {
		grid-template-columns: 1fr;
	}
	.grid-3-columns {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 400px) {
	header h1 {
		font-size: 2.5em;
	}
	header h2 {
		font-size: 1.2em;
	}
	header p {
		font-size: 0.9em;
	}
	header a {
		padding: 0.8em 0.8em;
		font-size: 0.6em;
	}

	section {
		padding-left: 2%;
		padding-right: 2%;
	}
	.grid-three-columns-first-narrow {
		grid-template-columns: 1fr;
		grid-gap: 1em;
	}
	footer h4 {
		font-size: 1em;
	}
	footer p,
	footer li {
		font-size: 0.9em;
	}
}
